body {
    font-family: sans-serif;
    flex-direction: column;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    text-decoration: none;
}
hr {
    height: 0;
    width: 100%;
    margin: 10px 0 10px 0;
    border-top: 1px solid #555;
}
th,td {
    white-space: nowrap;
}
#top {
    padding: 0 8px 0 8px;
    text-align: center;
}
#top label {
    padding: 0 10px 0 10px;
}
#middle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 30%;
    height: 30%;
    overflow: auto;
}
#cam {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-left: 20px;
    width: 100%;
}
#cam img {
    height: 100%;
    width: auto;
    object-fit: contain;
}
#bottom {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    overflow: auto;
}
#preview {
    flex-grow: 1;
    margin-left: 20px;
}
label {
    font-weight: bold;
}
thead th {
    background-color: #ddd !important;
    padding: 0 !important;
}
thead div {
    border-bottom: 1px solid black;
    padding: 5px;
}
tbody th {
    text-align: left;
}
table th,td {
    border: 2px solid white;
    background-color: #eee;
    padding: 5px;
}
td[onclick] {
    color: #00a;
}
td[onclick]:hover {
    color: #a00;
    cursor: pointer;
    background-color: #f5f5f5;
}
tr:hover th {
    background-color: #fee;
}
tr:hover td {
    background-color: #fee;
}
