:root {
    --image-url: url("data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=");
}
body {
    font-family: sans-serif;
    position: fixed;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}
hr {
    height: 0;
    width: 100%;
    margin: 10px 0 10px 0;
    border-top: 1px solid #555;
}
th,td {
    white-space: nowrap;
}
label {
    font-weight: bold;
}
thead th {
    background-color: #ddd !important;
    padding: 0 !important;
}
thead div {
    border-bottom: 1px solid black;
    padding: 5px;
}
tbody th {
    text-align: left;
}
table th,td {
    border: 2px solid white;
    background-color: #eee;
    padding: 5px;
}
td[onclick] {
    color: #00a;
}
td[onclick]:hover {
    color: #a00;
    cursor: pointer;
    background-color: #f5f5f5;
}
tr:hover th, tr:hover td {
    background-color: #f8f8dd;
}

.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.grow {
    flex-grow: 1;
}
.daypart {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    background-color: white;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.actions a {
    background-color: #f5f5f5;
    border: 3px solid #f5f5f5;
    border-radius: 3px;
    padding: 1px 6px 1px 6px;
    margin: 0 1px 0 1px;
}

.actions a:hover {
    background-color: white;
}

.disabled td, .disabled th {
    background-color: #fdd;
}

#top {
    padding: 0 8px 0 8px;
    text-align: center;
}
#top label {
    padding: 0 10px 0 10px;
}

#targets {
    align-items: stretch;
    overflow-y: auto;
    min-height: 300px;
}
#queue {
    overflow-y: auto;
    height: 100%;
}
#preview{
    margin-left: 8px;
}
#cam {
    border: 1px solid #bbb;
    background-image: var(--image-url);
    background-size: contain;
    background-repeat: no-repeat;
}
#gcode {
    margin-top: 5px;
    height: 25em;
    font-family: monospace;
    border: 1px solid #bbb;
    overflow-y: auto;
    padding: 5px;
}
