body {
    font-size: 14px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}
td {
    text-align: center;
}
label {
    margin: 5px;
}
input {
    padding: 8px 5px 8px 5px;
    background-color: #ffe;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
}
button {
    margin: 5px;
    padding: 8px;
    background-color: #eee;
    border-radius: 5px;
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
.align_stretch {
    align-items: stretch;
}
.align_center {
    align-items: center;
}
.selected {
    color: white;
    background-color: #888;
}
.red_bg {
    background-color: #fdd;
}
.panel {
    padding :2px;
    border: 1px solid #888;
    border-radius: 4px;
    margin: 3px;
    justify-content: space-around;
}
.label-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding-bottom: 7px;
}
.label-group > label {
    font-size: 10px;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px;
}
.label-group input {
    margin-right: 10px;
}

#pos div,table {
    padding-right: 4px;
    padding-left: 4px;
}

#jog_set {
    justify-content: center;
    font-family: monospace;
    font-size: 12px;
}
#jog_set input {
    margin: 6px;
}
#jog_set button {
    margin: 2px;
    padding: 2px;
    font-size: 12px;
    width: 50px;
}

#temp {
    flex-direction: row;
}
#temp > div {
    align-items: stretch;
    text-align: center;
}
#temp label {
    font-size: 10px;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px;
}
#temp input {
    margin: 0;
    text-align: center;
}
#temp button.dn {
    margin-top: 0;
    margin-right: 0;
}
#temp button.up {
    margin-top: 0;
    margin-left: 0;
}
#sender {
    align-items: center;
}
#send {
    width: 100%;
    margin: 5px;
}
#status {
    padding: 6px;
}
#status input {
    padding: 5px;
    margin-right: 6px;
}
#files {
    justify-content: flex-start;
}
#file-list {
    overflow-y: auto;
    min-height: 100px;
}
#file-list label:hover {
    background-color: #fee;
}
#file-list div {
    margin: 3px;
    align-items: stretch;
}
#file-list label {
    text-align: left;
    user-select: none;
    flex-grow: 1;
}
#file-list button {
    margin: 2px;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
}
#filename {
    flex-grow: 1;
}
#actions {
    justify-content: center;
}
