body {
    font-size: 14px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
td {
    text-align: center;
}
label {
    margin: 5px;
}
input {
    padding: 8px 5px 8px 5px;
    background-color: #ffe;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
}
button {
    margin: 5px;
    padding: 8px;
    background-color: #eee;
    border-radius: 5px;
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
.selected {
    color: white;
    background-color: #888;
}
.heating {
    background-color: #fdd;
}
.panel {
    padding :2px;
    border: 1px solid #888;
    border-radius: 4px;
    margin: 3px;
    justify-content: space-around;
}

#pos div,table {
    padding-right: 4px;
    padding-left: 4px;
}

#jog_set {
    justify-content: center;
    font-family: monospace;
    font-size: 12px;
}
#jog_set input {
    margin: 6px;
}
#jog_set button {
    margin: 2px;
    padding: 2px;
    font-size: 12px;
    width: 50px;
}

#position {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding-bottom: 7px;
}
#position > label {
    font-size: 10px;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px;
}

#temp {
    flex-direction: row;
}
#temp > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}
#temp label {
    font-size: 10px;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px;
}
#temp input {
    margin: 0;
    text-align: center;
}
#temp button.dn {
    margin-top: 0;
    margin-right: 0;
}
#temp button.up {
    margin-top: 0;
    margin-left: 0;
}

#status {
    padding: 6px;
}
#status input {
    padding: 5px;
    margin-right: 6px;
}
#filename {
    flex-grow: 1;
}
#actions {
    justify-content: center;
}
